.logo {
  float: left;
  width: 100%;
  max-width: 180px;
  padding: 1rem 0;
  transition: all 0.2s;
}

.logo:hover {
  opacity: 0.8;
}

header {
  background-color: #5762d5ff;
}

@use "variables";
nav {
  float: right;
}

.menu-item {
  float: left;
  margin-right: 0.5em;
  position: relative;
}

.menu-item a {
  display: block;
  padding: 0.5em 1em;
  text-transform: uppercase;
  transition: all 0.5s;
}

.menu-item a:hover {
  color: #d1e3ddff;
}

.menu-item.current-item a {
  color: #6e7dabff;
  border-bottom: 3px solid #6e7dabff;
}

html {
  font-size: 62.5%;
}

body {
  color: #32292fff;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: #d1e3ddff;
}

a {
  text-decoration: none;
  color: #575366ff;
  transition: all 0.3s;
}

a:hover {
  color: #6e7dabff;
}

.button-std, .button-ghost {
  border-radius: 0.2em;
  padding: 0.5em 1em;
  margin: 0.5em;
  display: inline-block;
  transition: all 0.5s;
  border: 1px solid #6e7dabff;
}

.button-std {
  background-color: #575366ff;
  color: #d1e3ddff;
}

.button-ghost {
  background-color: #d1e3ddff;
  color: #6e7dabff;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1080px;
  padding: 0 5%;
  margin: 0 auto;
  /* Clearfix hack */
}

.container:after {
  clear: both;
  content: " ";
  display: block;
}

ul.menu {
  list-style: none;
  padding: 0;
}

section {
  padding: 2rem 0;
}

footer {
  background-color: #6e7dabff;
  padding: 2rem 0;
}

footer .menu-item a {
  text-transform: inherit;
}

footer .menu-item a.current-item a {
  color: #d1e3ddff;
  border-color: #d1e3ddff;
}

footer .logo {
  padding: 0.5em 1em;
  max-width: 125px;
}

footer p {
  font-size: 1.2rem;
  color: #d283aa;
  clear: both;
  text-align: center;
}

/**  --------------------------------------- **/
/**  VARIABLES **/
/* SCSS HEX */
/** --------------------------------------- **/
/** GENERAL **/
/** --------------------------------------- **/
/** TYPOGRAPHY **/
/** --------------------------------------- **/
/** HEADER **/
/** --------------------------------------- **/
/** NAVIGATION **/
/**  --------------------------------------- **/
/** FOOTER **/
