$black-coffee: #32292fff;
$independence: #575366ff;
$glaucous: #6e7dabff;
$royal-blue-light: #5762d5ff;
$azure-x-11-web-color: #d1e3ddff;

$color-text: $black-coffee;
$color-principale: $independence;
$color-principale-fonce: $glaucous;
$color-header: $royal-blue-light;
$color-background: $azure-x-11-web-color;

$pad-std: 0.5em 1em;
